      </div>
    </div>
    <div class="footer">
      <p>Buster uses <a href="http://semver.org/">Semantic versioning</a>.
        Copyright 2010 - 2011,
        <a href="http://augustl.com/">Augustl Lilleaas</a> and
        <a href="http://cjohansen.no/">Christian Johansen</a>. Released under the 
        <a href="http://www.opensource.org/licenses/bsd-license.php">BSD license</a>.
        Documentation released under
        <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC Attribution-Share Alike</a>.
      </p>
    </div>
    <script type="text/javascript" src="<%= context_path %>/javascripts/hijs.js"></script>
    <script type="text/javascript" src="<%= context_path %>/javascripts/nav.js"></script>
  </body>
</html>
