<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="<%= context_path %>/stylesheets/buster.css">
  </head>
  <body>
    <div id="masthead">
      <p><a href="/">Buster.<span>JS</span></a> API Reference</p>
    </div>
    <div class="wrapper">
      <div class="aside">
        <%= module_navigation %>
      </div>
      <div class="content">
