<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="<%= context_path %>/stylesheets/buster.css">
  </head>
