<%= partial(:head, :title => "Test reporters") %>
<h1>Test reporters</h1>
<dl>
  <dt>Version</dt>
  <dd>See <%=m "test", "buster-test" %></dd>
  <dt>Module</dt>
  <dd><code>require("buster-test").reporters;</code></dd>
  <dt>In browsers</dt>
  <dd><code>buster.reporters;</code></dd>
</dl>

<%= partial :footer %>
