
h2 .pilcrow_anchor,
h3 .pilcrow_anchor {
    display: none;
    color: #666;
    text-decoration: none;
    padding-left: .2em;
}

h2:hover .pilcrow_anchor,
h3:hover .pilcrow_anchor {
    display: inline;
}

dl {
    margin: 0 0 1.5em;
    overflow: auto;
}

dt,
dd {
    float: left;
    line-height: 1.5;
}

dt {
    clear: left;
    font-weight: bold;
    width: 7em;
}

h1 {
    border-bottom: 1px solid #ddd;
    font-size: 3em;
    margin: 0 0 .25em;
}

h2 {
    border-bottom: 1px solid #eee;
    font-size: 2em;
    margin: 1.5em 0 0.75em;
}

h3 {
    border-bottom: 1px solid #f0f0f0;
    /*display: inline-block;*/
    font-size: 1.25em;
    line-height: 1.5;
    margin: 0 0 0.5em;
}

h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0.25em;
}


a img {
    border: none;
    outline: none;
}

.button {
    background: #ddd;

    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#fff),
        to(#ddd)
    );

    background: -moz-linear-gradient(
        top center,
        #fff,
        #ddd
    );

    border: 1px solid #aaa;
    border-radius: 12px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    box-shadow: 2px 2px 2px #ccc;
    -webkit-box-shadow: 2px 2px 2px #ccc;
    -moz-box-shadow: 2px 2px 2px #ccc;
    display: inline-block;
    margin: 0 0 2em;
}

.button:hover {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(#cdcdcd),
        to(#ececec)
    );

    background: -moz-linear-gradient(
        top center,
        #cdcdcd,
        #ececec
    );

    border-color: #999;
}

.button a,
.button input {
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    outline: none;
    padding: 2px 24px;
    text-decoration: none;
}

code {
    font-family: "Droid Sans Mono", "Liberation Mono", Courier, monospace;
    font-size: 0.9em;
}

p code,
li code {
    border-radius: 6px;
    padding: 2px;
    white-space: nowrap;
}

.msg p code,
.msg li code {
    background: #f6f9fc;
}

code .keyword { font-weight: bold; }
code .string, code .regexp { color: red; }
code .class, code .special { font-weight: bold; }
code .number { font-weight: bold; }
code .comment { color: grey; }

pre code,
.side-by-side {
    background: #f6f9fc;
    border: 1px solid #ddd;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    display: block;
    margin: 0 0 1.5em;
    padding: 12px;
}

pre code {
    font-size: 14px;
}

.long-lines code {
    font-size: 11px;
}

/* Side-by-side code views */
.side-by-side {
    overflow: hidden;
}

.side-by-side code {
    border: none;
    padding: 0;
}

.side-by-side .sample code {
    margin: 0;
}

.side-by-side .sample {
    border-right: 1px solid #ddd;
    float: left;
    padding: 0 24px 0 0;
}

.side-by-side .sample + .sample {
    border-left: 1px solid #ddd;
    border-right: none;
    margin-left: -1px;
    padding: 0 0 0 24px;
}

.side-by-side h4,
.side-by-side pre,
.section .side-by-side h4,
.section .side-by-side pre {
    margin-left: 0;
}

.highlight {
    background: #ffc;
}

.content p {
    margin: 0 0 1.5em;
}

.section div + h3,
.section pre + h3,
.section dl + h3,
.section ol + h3,
.section p + h3 {
    margin-top: 2em;
}

.section pre,
.section dl,
.section p,
.section h4,
.section .side-by-side,
.section table {
    margin-left: 2em;
}

.section ol {
    margin-left: 4em;
}

.intro pre,
.intro dl,
.intro ol,
.intro p,
.intro h4 {
    margin-left: 0;
}

.msg p {
    margin-bottom: .5em;
}

.msg dt {
    width: 3em;
}

.msg dd {
    float: none;
}

.properties dt,
.properties dd {
    float: none;
    width: auto;
}

.properties dt {
    border-bottom: 1px solid #eee;
    display: inline-block;
    margin: 0 0 0.25em;
}

.properties dd {
    margin: 0 0 0.75em 2em;
}

p + .properties {
    margin-top: -0.5em;
}