<%= partial(:head, :title => "buster.configBuilder") %>
<h1><code>buster.configBuilder</code></h1>
<dl>
  <dt>Version</dt>
  <dd>See <%=m "client", "buster-client" %></dd>
  <dt>Module</dt>
  <dd><code>require("buster-client").configBuilder;</code></dd>
  <dt>In browsers</dt>
  <dd>N/A</dd>
</dl>
<p>
  Builds <%=m "client/session-config", "session configuration" %> and more from
  JSON configuration - either as strings or directly from files.
</p>
<%= partial :footer %>
