<%= partial(:head, :title => "buster-client") %>
<h1><code>buster-assert</code></h1>
<dl>
  <dt>Version</dt>
  <dd>0.0.1 <span class="date">(2011-04-06)</span></dd>
  <dt>Module</dt>
  <dd><code>require("buster-client");</code></dd>
  <dt>In browsers</dt>
  <dd><code>buster.client;</code></dd>
</dl>
