<%= partial(:head, :title => "buster util") %>
<h1>Buster util</h1>
<dl>
  <dt>Version</dt>
  <dd>0.3.0 <span class="date">(2011-08-09)</span></dd>
  <dt>Module</dt>
  <dd><code>require("buster-util");</code></dd>
  <dt>In browsers</dt>
  <dd><code>buster.util;</code></dd>
</dl>
<p>
  A temporary package, used only for bootstrapping early parts of Buster
  (low-level test helpers and so on). Do not depend on this package, as it will
  disappear when Buster.JS is self-sustained.
</p>
