Beta

<p>The beta is upon us!</p>

<p>See <a href="<%= doc_url "getting-started" %>">getting started</a> and <a href="<%= doc_url "overview" %>">the overview</a> for usage, installation, features, etc.</p>

<p>So far we have QUnit style static html page testing, JsTestDriver style browser automation, and node testing. We have stubbing and mocking, setUp and tearDown, asynchronous tests, hybrid browser/Node tests, and much more.</p>

<p>We <em>don't</em> have a super stable 1.0 that you can connect to a zillion old browsers to and have it run in a stable fashion in your CI environment. Getting there requires field testing, and that's where you come in.</p>

<p>You will run into issues, and when you do, we want to know about them. Please don't hesitate <a href="http://busterjs.org/issues">posting issues in the issue tracker</a>.</p>

<p>See also <a href="http://groups.google.com/group/busterjs">mailing list</a>, <a href="irc://irc.freenode.net/buster">irc.freenode.net #buster</a> and <a href="http://twitter.com/buster_js">Twitter @buster_js</a>.</p>

<h2>Known issues</h2>

<p>IE7 and lower, and Safari, doesn't work with <kbd>buster server</kbd>. You can still use <kbd>buster static</kbd> to run your tests in these browsers.</p>

<h2>Roadmap</h2>

<p>Running browser tests without a browser and a server via PhantomJS</p>

<p>Stability for CI environments etc.</p>

<p>..and more. This list is incomplete.</p>
