Developers

<p>This page contains useful information for Buster.JS developers/contributors.</p>

<h2>Setting up the git repositories</h2>

<p>The following will clone all the repositories, symlink in the internal dependencies, install other dependencies, and link in to your system.</p>

<p>Quick instructions:</p>

<pre>mkdir buster
cd buster
git clone git@gitorious.org:buster/buster-dev-tools.git
node buster-dev-tools/setup.js</pre>
