<p><strong>Important:</strong> Buster.JS is not yet released. The documentation is by no means complete.</p>

<p>There's a <a href="http://busterjs.org/docs/quick-and-dirty-getting-started">Getting started guide</a>, only for Node.JS testing only so far though.</p>

<h2><%= m("assertions", "buster.assertions") %></h2>
<p>Contains all assertions for test cases.</p>

<h2><%= m("args", "buster.args") %></h2>
<p>Reusable and unobtrusive utility for parsing command line options.</p>

<h2><%= m("test", "buster.test") %></h2>
<p>Test cases, contexts, reporters, and more.</p>

<h2><%= m("promise", "buster.promise") %></h2>
<p>An implementation of the promise pattern.</p>
